@using Microsoft.AspNetCore.Http;
@using LoanManagementSystem.Helpers;
@using LoanManagementSystem.Models;
@using Microsoft.EntityFrameworkCore;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoanManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/images/landmark-solid.svg" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>
<body>


    @if (Context.Session.GetInt32("userId") == -1 || Context.Session.GetInt32("userId") == null)
    {

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-4 mb-5 bg-dark">
            <a class="navbar-brand" href="/"><h3 style="font-weight:bold;color:white;">Loan Management System</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item flex justify-content-end">
                        <a class="btn btn-outline-light mr-2 text-light @ViewBag.SignupActive" asp-controller="SignUp" asp-action="Index">Sign up</a>
                    </li>
                    <li class="nav-item flex justify-content-end">
                        <a class="btn btn-outline-light text-light mr-2 @ViewBag.LoginActive" asp-controller="Login" asp-action="login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>


    }
    @if (Context.Session.GetInt32("isAdmin") == 1 && Context.Session.GetInt32("userId") != -1)
    {
        Layout = "_AdminLayout";
    }
    @if (Context.Session.GetInt32("isAdmin") == 0 && Context.Session.GetInt32("userId") != -1)
    {
        Layout = "_CustomerLayout";
    }



    @if (TempData["AlertMessage"] != null)
    {

        if (TempData["AlertType"].ToString() == "success")
        {
            <div class="container">
                <div class="alert alert-success d-flex align-items-center" id="alert_box" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                    <div>
                        @TempData["AlertMessage"]
                    </div>

                </div>
            </div>

        }
        else
        {
            <div class="container">
                <div class="alert alert-danger d-flex align-items-center" id="alert_box" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                    <div>
                        @TempData["AlertMessage"]
                    </div>
                </div>
            </div>


        }

    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/owl.js" asp-append-version="true"></script>
    <script src="~/js/slick.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true">
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
