@model LoanManagementSystem.Models.Loan

@{
    ViewData["Title"] = "Loan";
    ViewBag.LoanActive = "active";
}

<h1>Loan Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary) ETB
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loanPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loanPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loanAmount) ETB
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanGrant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanGrant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayableAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayableAmount) ETB
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPayableAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPayableAmount) ETB
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPenalty) ETB
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectionReason)
        </dd>
       
    </dl>
</div>
<div>
    <a class="btn btn-danger m-1" asp-action="ViewLoan">Back</a>
</div>
