@model IEnumerable<LoanManagementSystem.Models.Loan>
@using Microsoft.AspNetCore.Http;
@using LoanManagementSystem.Helpers;
@{
    ViewData["Title"] = "Loan";
    ViewBag.LoanActive = "active";


}

<h1>View Loan Status</h1>

<p>
    <a asp-action="Loan" class="btn btn-info m-1">Create New</a>
</p>
<table class="table table-responsive table-striped table-hover w-100 border-0">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.loanAmount)
            </th>
            <th>
                  Loan Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayableAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPayableAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPenalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejectionReason)
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.UserId == Context.Session.GetInt32("userId"))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Salary) ETB
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.loanAmount) ETB
            </td>
            <td>
                @if (item.LoanGrant == "REJECTED")
                {
                <span class="badge badge-danger p-2">@item.LoanGrant</span>
                }
                else if (item.LoanGrant == "ACCEPTED")
                {
                    <span class="badge badge-success p-2">@item.LoanGrant</span>
                }
                else
                {
                    <span class="badge badge-warning p-2">@item.LoanGrant</span>
                }
            </td>
            <td>
                   @item.loanDate.ToString("MMMM dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayableAmount) ETB
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyPayableAmount) ETB
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyPenalty) ETB
            </td>
            
            @if (item.RejectionReason != "NONE")
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.RejectionReason)
                </td>
             }
             else 
             { 
                <td class="text-center">
                    -
                </td>
             }

        <td>
            @if (item.LoanGrant == "PENDING")
            
            {
                <a asp-action="EditLoan" class="btn btn-primary m-1" asp-route-id="@item.Id">Edit</a>
            }

            <a asp-action="DetailLoan" class="btn btn-info m-1" asp-route-id="@item.Id">Details</a>
            <a asp-action="DeleteLoan" class="btn btn-danger m-1" asp-route-id="@item.Id"><i class="fa-solid fa-circle-trash p-1"></i>Delete</a>

        </td>
            </tr>
            }
        }
        @{
            if (Model.Count() == 0 || !Model.Any(e => e.UserId == Context.Session.GetInt32("userId")))
            {
                <tr>
                    <td class="w-50" colspan="10">Empty Database</td>
                    <td class="w-50"></td>

                </tr>
            }

        }

    </tbody>
</table>
