@model LoanManagementSystem.Models.Payment

@{
    ViewData["Title"] = "Payment";
    ViewBag.AdminPaymentActive = "active";
}

<h1>Payment Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayedMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingLoanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingLoanAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingMonthPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingMonthPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyPaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyPaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextPaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextPaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanCovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanCovered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="ListPayments">Back to List</a>
</div>
